<h1>メモ編集</h1>

<div class="content">
  <h3>メモ<%= @memo_detail.id %></h3>

  <form method="post" action="/patch/<%= @memo_detail.id %>">
    <p><label>タイトル</label></p>
    <input required type="text" name="title" value="<%= @memo_detail.title %>">

    <p><label>内容</label></p>
    <textarea required name="body" row="40" cols="100"><%= @memo_detail.body %></textarea>

    <div class="button_side_by_side">
      <input class="button_common" type="submit" value="変更">
      <input type="hidden" name="_method" value="patch">
  </form>

  <button class="button_common" type="button" onclick=location.href="/home">戻る</button>
  </div>
</div>