<table border>
<tr>
<th>ID</th>
<th>NAME</th>
<th>ENTRY </th>
</tr>

<%= @h %>

<form method="post" action="/new">
<tr>
<td><input type="text" name="id"></td>
<td><input required type="text" name="name"></td>
<td><input type="text" name="entry"></td>
<td><input type="submit" value="送信!"></td>
</tr>
</form>

</table>