<h1>新規メモ</h1>

<div class="content">
  <form method="post" action="/memos">
  <div class="form_title">
    <p><label>タイトル</label></p>
    <input required type="text" name="title" autocomplete="none">
  </div>

  <div class="form_textarea">
    <p><label>内容</label></p>
    <textarea required name="content" row="40" cols="100"></textarea>
  </div>

  <div class="button_side_by_side">
  <input class="button_common" type="submit" value="保存">
  </form>

  <button class="button_common" type="button" onclick=location.href="/memos">戻る</button>
  </div>
</div>
